
Case Studies/Ironhack/Customer_Analysis_Case_Study_Florent_Zahoui/Customer_Analysis_Case_Study_Kike_Version.ipynb
Case Studies/Ironhack/Song Recommender/config.py
Case Studies/Ironhack/Hospital/Data/cms_hospital_patient_satisfaction_2016.csv
Case Studies/Ironhack/Hospital/Data/cms_hospital_patient_satisfaction_2017.csv
Case Studies/Ironhack/Hospital/Data/cms_hospital_patient_satisfaction_2018.csv
Case Studies/Ironhack/Hospital/Data/cms_hospital_patient_satisfaction_2019.csv
Case Studies/Ironhack/Hospital/Data/cms_hospital_patient_satisfaction_2020.csv
Case Studies/Ironhack/Song Recommender/internal.csv
Case Studies/Ironhack/Song Recommender/internal.csv
